.container {
  background-color: #eeeeee;
}

.logo {
  height: 25px;
  display: inline-block;
  margin-bottom: 1em;
  background-size: 519px 71px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.footer {
  margin-top: 24px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#menu {
  background-color: #003865;
  margin: 0 0 0 0;
  height: 41px;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  border-color: #005498;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  color: #dddddd;
}

#menu ul li:hover {
  background-color: #005498;
}

#menu ul li.selected {
  background-color: #005498;
}

#main {
  display: inline-block;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
